@font-face {
  font-family: 'ACaslonPro';
  font-style: normal;
  font-weight: normal;
  src:
    url(fonts/ACaslonPro-Regular.otf) format('otf'),
}

@font-face {
  font-family: 'Springville';
  font-style: normal;
  font-weight: normal;
  src:
    url(fonts/Springville-Regular3.otf) format('otf'),
}

.header {
  padding: 45px 140px;
  /* font-family: 'Springville'; <-- not working*/
}

.header > img {
  /* width: 25%; */
  height: 40px;
}

.content-container {
  padding: 50px 100px 100px 100px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.content {

}

.footer {
  padding: 60px 140px;
  text-align: center;
  /* font-family: 'Springville'; <-- not working*/
  font-size: 0.7em;
  font-weight: 500;
}

.footer > p > a {
  color: black;
  text-decoration: underline;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
