@font-face {
  font-family: 'ACaslonPro';
  src: url('fonts/ACaslonPro-Regular.otf');

}

@font-face {
  font-family: 'Springville';
  src: url('fonts/Springville-Regular3.otf');
}

.header {
  padding: 3.5% 8% 3.5% 8%;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.header > img {
  width: 17%;
  height: auto;
  float: left;
}

.header > p {
  padding: 1%;
  display: inline;
  font-size: 0.8vw
}

.burger {
  float: right;
  display: inline-block;
  padding: 0% 0% 0% 1%;
}

.carousel {
  max-width: 1440px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* org h/w = 578.88/1440

smallest clipped sides 3/4 = 578.88/771.84 */

.carousel-img {
  width: calc(100%);
  height: calc((100vw) * 0.75);
  object-fit: cover;
}

.content-container {
  padding: 5% 8% 5% 8%;
  column-count: 3;
  column-gap: 4%;
}

.content {
  display: inline-block;
  font-size: 0.8vw;
  padding: 0% 0% 10% 0%;
}

.content > a > img {
  width: 100%;
  height: auto;
}

.date {
  color: gray;
  padding: 10% 0% 3% 0%;
}

.title {
  font-family: 'Springville', sans-serif;
  font-weight: 100;
  font-size: 3.5vw;
  line-height: 100%;
  color: black;
  margin: 0%;
}

.content > a {
  color: black;
  text-decoration: none;
}

.content > a:hover, a:active {
  color: black;
  text-decoration: underline;
}

.present {
  font-family: 'ACaslonPro', sans-serif;
  font-weight: 100;
  font-size: 1vw;
  color: black;
  padding: 8% 0% 8% 0%;
}

.present > a {
  color: black;
  text-decoration: underline;
}

.present > a:hover, a:active {
  color: black;
  text-decoration: underline;
}

.content > hr {
  border: 0;
  height: 0;
  border-top: 0.2vh solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.2vh solid rgba(255, 255, 255, 0.3);
}

.readmore {
  font-size: 0.8vw;
  text-align: center;
  color: gray;
  padding: 100% 0% 3% 0%;
}

.readmore > a {
  color: gray;
}

.readmore > a:hover, a:active {
  color: gray;
  text-decoration: underline;
}

.footer {
  padding: 5%;
  text-align: center;
  font-size: 0.8vw;
  font-weight: 400;
}

.footer > p > a {
  color: black;
  text-decoration: underline;
}


/* mobile OR tablet portrait only */
@media only screen
/* and (min-width : 320px) */
and (max-width : 812px)
, (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {

  /* HEADER */
  .header {
    line-height: 35px;
    height: 50px;
    padding: 1% 4% 1% 4%;
  }

  .header > img {
    width: 25%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .header > p {
    padding: 2%;
    font-size: 1.6vw;
  }

  .burger {
    position: relative;
    top: 25%;
    padding: 0% 0% 0% 2%;
  }

  /* GRID */
  .content-container {
    padding: 5% 4% 5% 4%;
    column-count: 2;
  }

  .content-container > p {
    /* padding: 100% 0% 3% 0%; */
  }

  .content {
    font-size: 1.6vw;
    /* padding: 0% 5% 10% 5%; */
  }

  .title {
    font-size: 3.5vw;
  }

  .present {
    font-size: 1.7vw;
  }

  .content > hr {
    border-top: 0.2vh solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.2vh solid rgba(255, 255, 255, 0.3);
  }

  .readmore {
    font-size: 1.6vw;
    padding: 0% 0% 3% 0%;
  }

  /* FOOTER */
  .footer {
    font-size: 1vw;
  }
}

@media only screen
and (min-width : 772px) {
  .carousel-img {
    max-height: 578.88px;
    object-fit: cover;
  }
}
