@font-face {
  font-family: 'ACaslonPro';
  src: url('fonts/ACaslonPro-Regular.otf');

}

@font-face {
  font-family: 'Springville';
  src: url('fonts/Springville-Regular3.otf');
}

@media (min-width: 600px) {

}

.header {
  padding: 45px 140px 5%;
  text-align: right;
}

.header > img {
  height: 40px;
  float: left;
}

.header > p {
  padding: 10px 10px 5%;
  display: inline;
}

.burger {
  float: right;
  display: inline-block;
  padding: 0px 10px 5%;
}

.content-container {
  padding: 50px 100px 100px 100px;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.content {
  display: inline-block;
  font-size: 0.6em;
  color: gray;
}

.content > img {
  width: 100%;
}

.content > h1 {
  font-family: 'ACaslonPro', sans-serif;
  font-weight: 100;
  color: black;
}

.present {
  font-family: 'ACaslonPro', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

.content > p > a {
  color: gray;
  text-decoration: underline;
}

.content > hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
  padding: 60px 140px;
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
}

.footer > p > a {
  color: black;
  text-decoration: underline;
}

/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
